body {
    background-image: url(bliss.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-output-window {
    width: 1500px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-container-text {
    width: 670px;
}

.input-container fieldset {
    margin: 15px;
}

.input-container textarea {
    resize: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons button {
    margin: 5px;
}

.preferences-window {
    width: 400px;
    margin: 50px;
}