.input-output-text-window
  width: 1500px

  textarea
    resize: none

  fieldset
    margin: 15px

  &_container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

    &_text
      width: 670px

    &_buttons
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center

      button
        margin: 5px
