<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>String Builder Tool</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="mdc-card">
    <label class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea ">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-text-field__resizer">
            <textarea aria-label="Label" class="mdc-text-field__input" cols="40" rows="8"></textarea>
        </span>
        <span class="mdc-line-ripple"></span>
    </label>
</div>
</body>
</html>